@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

*{
    box-sizing: border-box;
    margin: 0;
}
body{
    margin:0;
    padding:0;
    height: 100%;
    background-color: rgb(234, 237, 238);
    font-family: 'Lato', sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
}
.page-wrapper{
    position: relative;
}
#header{
   position: sticky;
   top: 0;
    min-height: 70px;
    background-color:rgb(234, 237, 238) ;
    width: 100%;
}
#header-img{
    width: 20rem;
    height: 2rem;
    margin:1.5rem 0 0 1.5rem;
}
#navbar{
    float: right;
    margin: 2rem;
}
nav a{
    text-decoration: none;
    font-size: 1.1rem;
    padding:  2rem 3rem;
    color: rgb(48, 37, 37);
}
#header-img, #navbar {
    display: inline-block;
    
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}
.form-sec h1{
    font-size: 1.5rem;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    width: 20rem;
    height: 2rem;
    margin: .8rem;
}
::placeholder{
    padding-left: .2rem;
}
button{
    height: 2rem;
    width: 10rem;
    background-color: rgb(206, 206, 16);
    
    font-size: 1.1rem;
    border: none;
    text-transform: uppercase;
}
button#submit{
    font-weight: 800;
}
button:hover{
 background-color: rgb(186, 186, 19);
 transition: background 1s ;
}
.fa-fire-flame-curved, .fa-truck, .fa-battery-full {
    color:rgb(186, 186, 19);
    font-size: 3.5rem;
}

.icon, .text-describtion{
    display: inline-block;
    margin: 0 auto;
}
.icon{
    width: 5.8rem;
    
}
.features-sec .text-describtion{
    font-size: 1rem; 
    margin-left:4rem;
    width: 50rem;
    margin-bottom: 1.6rem;
}

.features-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.features-sec, .video-sec, .pricing-sec{
    margin-top: 5.8rem;
}
iframe{
    width: 35rem;
    height: 22rem;
    display: flex;
    align-items: center;
}
.feature{
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
}
.pricing-sec{
    display: flex;
    flex-wrap: wrap;
    padding: .8rem;
    justify-content: center;
}
.price-box1{
    width: 20rem;
    height: 21rem;
    border: 1px solid ;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .4rem;
    border-radius: .4rem;
}
span.price{
  font-weight: 900;
  font-size: 1.2rem;
}

.price-box1 .text-describtion{
    text-align:center;
    padding: 1.7rem 0;
    line-height: 2rem;
    font-size: .9rem;
}
div.text-heading{
    background-color: rgb(204, 213, 218);
    width: 100%;
    height: 4.1rem;
    text-align: center;
    font-size: 1rem;
    
}
.text-heading h2{
    margin-top: .8rem;
}
footer{
    background-color: rgb(204, 213, 218);
    width: 80%;
    height: 6.6rem;
    margin: 0 auto;
    
}
.footer-links a{
    text-decoration: none;
     padding: .3rem;
    font-size: 1.15rem;
    color: black;
}
.footer {
    float: right;
    padding: 1.7rem;
    
}
.copy-right{
    color: rgb(83, 61, 61);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
@media screen and (max-width:1020px ) {
    html{
        font-size: 75%;

    }
    footer{
        width: 80%;
    }
}
@media screen and (max-width:850px) {
    html{
        font-size: 80%;
        height: 100%;
    }
    .features-sec .text-describtion{
        width: 70%;
        margin-top: 0.2rem;
       margin-left: .2rem;
    }
    .icon{
        padding: 0 0 0 6rem;
        width: 15rem;
    }

   
}

@media screen and (max-width:740px) {
    html{
        font-size: 80%;
        height: 100%;
    }
    #header{
        min-height: 100px;
        padding-top: 0 ;

    }
    .feature, .pricing-sec{
        flex-direction: column;
    }
    .form-sec, .features-sec .text-describtion{
        width: 80%;
        margin: 2rem 0 0 2rem;
    }
   
}
@media screen and (max-width:450px){
    html{
        font-size: 80%;
        height: 100%;
}
   nav a{
    padding:1rem 0.7rem;
   }
   iframe{
    width: 100%;
   }
}